<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <service
            android:name=".RoamAdbService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <service
            android:name=".RoamAdbTileService"
            android:exported="true"
            android:icon="@android:drawable/stat_sys_data_bluetooth"
            android:label="RoamADB"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
